#sidebar {
  position: fixed;
  padding-top: 50px;
  top: 0;
  left: 0;
  width: 40px;
  height: 100vh;
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.sidebar__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background 0.2s;
  &:hover {
    background: var(--primary-bg);
  }
}
.material-icons {
  font-size: 2rem;
  color: var(--accent-color, #1976d2);
}
