.light {
  --primary-bg: #e3e3e3;
  --secondary-bg: #ffffff;
  --primary-text: #1a1a1a;
  --accent-color: #2d3f98;
}

.dark {
  --primary-bg: #1a1a1a;
  --secondary-bg: #2c2c2c;
  --primary-text: #e3e3e3;
  --accent-color: #4962ff;
}
