.product-container {
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1 1 16.66%;
  min-width: 200px;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  box-sizing: border-box;
}
